body {
  font-size: 16px;
  line-height: 22px;
  color: #696969;
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  color: #000;
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif;
}

h2 {
  font-size: 36px; 
  line-height: 36px;
  color: #000;
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif;
}

b {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  font-family: Roboto, Arial, sans-serif;
}
.main_header {
  width: 1200px;
  height: 56px;
  margin: 0px auto;
  background:#eee;
}
.index_logo {
  margin-left: 160px;
  float:left;
}
.main_navigation {
  width: 740;
  min-height: 56px; 
  background:#eee;
  text-align: center; 
}
.main_navigation ul li { 
  list-style: none;
  display: inline-block;
}
.main_navigation ul li a{ 
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 20px;
}
.buy_block a{ 
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase; 
  float: right;
  min-height: 56px; 
  text-align: center;
  margin-top: -56px;
}
.slider {
  width: 338px;
  height: 319px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.slider input {
  display: none;
}
 
.more_info {
  width: 240px;
  height: 38px;
  background: #ff3344;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  block: left;
  
} 
